{% extends '_layouts/base.njk' %}

{% block page_title %}Capt. McGillicuty's Blog{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-8 offset-sm-1 offset-md-2 offset-lg-2">
    <h1 class= "main"> McGillicuty's adventures day-by-day</h1>
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-8 offset-1 offset-md-2 offset-lg-2">
      <p>
        Infamous scallywag, friend to ruffian and prince alike, Capt. Crit McGillicuty chronicles his adventures, with special commentary on the weather and time of day.
      </p>
        {% for entry in data.entries %}
          <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          <p class="entry-date">{{ entry.date }}</p>
          <hr>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
